<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mount google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import csv file and create dataframe

In [4]:
import pandas as pd

In [5]:
# https://drive.google.com/file/d/1ftrn6Etbwuln6hT5bzluLKfdOVcuUlxh/view?usp=sharing


iris_df = pd.read_csv('/content/drive/MyDrive/colabs_data/Iris.csv')
iris_df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

### Create sqllite database

In [18]:
import sqlite3

conn = sqlite3.connect('intro.db')
print ("Successfully connected to the database")

Successfully connected to the database

### Import sql to populate database

In [20]:
drive_sql = open('drive/MyDrive/colabs_data/sql_training.sql',"r")
drive_sql_contents = drive_sql.read()
conn.executescript(drive_sql_contents)
print("Successfully populated db with initial values from google drive")

Successfully populated db with initial values from google drive

### Get list of table

In [29]:
get_all_tables_query = "SELECT name FROM sqlite_master WHERE type='table';"

result = conn.execute(get_all_tables_query)
rows = result.fetchall()
print (rows)

[('AGENTS',), ('CUSTOMER',), ('ORDERS',)]

### Get columns in AGENTS table

In [32]:
get_all_columns_query = "PRAGMA table_info('AGENTS')"

result = conn.execute(get_all_columns_query)
rows = result.fetchall()
print (rows)

[(0, 'AGENT_CODE', 'CHAR(6)', 1, None, 1), (1, 'AGENT_NAME', 'CHAR(40)', 0, None, 0), (2, 'WORKING_AREA', 'CHAR(35)', 0, None, 0), (3, 'COMMISSION', 'NUMBER(10,2)', 0, None, 0), (4, 'PHONE_NO', 'CHAR(15)', 0, None, 0), (5, 'COUNTRY', 'VARCHAR2(25)', 0, None, 0)]

In [31]:
get_all_columns_query = "PRAGMA table_info('AGENTS')"

result = conn.execute(get_all_columns_query)
rows = result.fetchall()
column_names = list(zip(*rows))
print (column_names)

[(0, 1, 2, 3, 4, 5), ('AGENT_CODE', 'AGENT_NAME', 'WORKING_AREA', 'COMMISSION', 'PHONE_NO', 'COUNTRY'), ('CHAR(6)', 'CHAR(40)', 'CHAR(35)', 'NUMBER(10,2)', 'CHAR(15)', 'VARCHAR2(25)'), (1, 0, 0, 0, 0, 0), (None, None, None, None, None, None), (1, 0, 0, 0, 0, 0)]

In [33]:
column_names[1]

('AGENT_CODE',
 'AGENT_NAME',
 'WORKING_AREA',
 'COMMISSION',
 'PHONE_NO',
 'COUNTRY')

### Get AGENT_NAME and PHONE_NO details

In [40]:
get_agent_info_query = "SELECT AGENT_NAME, PHONE_NO from AGENTS"
result = conn.execute(get_agent_info_query)
rows=result.fetchall()
for row in rows:
  print(row)

('Ramasundar', '077-25814763')
('Alex ', '075-12458969')
('Alford', '044-25874365')
('Ravi Kumar', '077-45625874')
('Santakumar', '007-22388644')
('Lucida', '044-52981425')
('Anderson', '045-21447739')
('Subbarao', '077-12346674')
('Mukesh', '029-12358964')
('McDen', '078-22255588')
('Ivan', '008-22544166')
('Benjamin', '008-22536178')