<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Covered Topics

Data Types

*   Data Types - int, float, complex, string etc
*   Sequences - List, Tuple, Set

### Hello world Example

In [ ]:
print("Hello, World!")

## Variables

In [ ]:
x=5
y=7

In [ ]:
print(x)
x

In [ ]:
type(x)

## Simple Data types

variables do not have explicit data type as python associates types with values.
So x = 8 works. But int x = 8 will throw syntax error. However we may use type hinting using x:int = 8 which is same as x = 8

#### Int (Numeric)

In [ ]:
x:int = 8
y=8
print(type(x))
print(type(y))

#### Float(Numeric)

In [ ]:
x=8.8
print(type(x))

#### Complex numbers(Numeric)

In [ ]:
c1 = complex(2,3)
print(c1)
print(type(c1))

#### Boolean data type

In [ ]:
x= True
y= False
print(x)
print(y)

In [ ]:
print(1==1)
print(1>2)
print(1<2)

### String data type

In [ ]:
txt1 = "cats rule the world"
print(txt1)
print(type(txt1))

In [ ]:

txt2 = 'cats rule the world'
print(txt2)
print(type(txt2))

In [ ]:
print(txt1==txt2)

## Type casting

### Int to String

In [ ]:
num=8
txt = str(num)
print(txt)
print(type(num))
print(type(txt))

In [ ]:
num=8
txt = "cats rule the world"
print(num+" "+txt)

In [ ]:
num=8
txt = "cats rule the world"
print(str(num)+" "+txt)

### Float to String

In [ ]:
num = 8.2
print(str(num))
print(type(str(num)))

### Complex to string

In [ ]:
c1 = complex(3,4)
print(str(c1))

### String to Int

In [ ]:
txt = "cats rule the world"
print(int(txt))

In [ ]:
raw_user_age = input("What is your age?")
user_age = int(raw_user_age)
print(user_age)

In [ ]:
print(type(raw_user_age))
print(type(int(raw_user_age)))

### String to Float

In [ ]:
txtFloat = "8.2"
print(type(txtFloat))
print(type(float(txtFloat)))

### String to Complex

In [ ]:
txtComplex="(3+4j)"
print(type(txtComplex))
print(type(complex(c1)))

## Data types continued...

### Sequence - List
##### ORDERED, ALLOW DUPLICATES, MUTABLE

In [ ]:
# List of Strings
fruitList = ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList)
print(type(fruitList))
print(type(fruitList[0]))

In [ ]:
# List with mixed type

mixedList = ["apple", 1]
print(type(mixedList[0]))
print(type(mixedList[1]))

#### List Constructor

In [ ]:
# construct from list
fruitsConstructor = list(["apple", "banana", "cherry"])
print(fruitsConstructor)
print(type(fruitsConstructor))

In [ ]:
# construct from tuple
fruitsConstructor = list(("apple", "banana", "cherry"))
print(fruitsConstructor)
print(type(fruitsConstructor))

In [ ]:
# construct from set
fruitsConstructor = list({"apple", "banana", "cherry"})
print(fruitsConstructor)
print(type(fruitsConstructor))

#### List operations - Length

In [ ]:
print(len(fruitList))
print(len(mixedList))

#### List operation - Access list item

In [ ]:
# Indexing [Index starts from 0 to (length of the list - 1)]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

print(fruitList[0])

In [ ]:
# Positive Indexing
# ['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

print(fruitList[1])

In [ ]:
# ['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

length = len(fruitList)
print("Length of list: "+str(length))
print("last item using[length-1]: "+fruitList[length-1])
print("last item using[6]: "+fruitList[6])

In [ ]:
# Negative Indexing [index starts from -1 to length of the list]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

print("last item using[-1]: "+fruitList[-1])

In [ ]:
# Negative Indexing
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

length = len(fruitList)
print(length)
print("first item using [-length]: "+fruitList[-length])
print("first item using [-7] "+fruitList[-7])

[start,end,step]

In [ ]:
# Default values for Range of Index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
start=0
length= len(fruitList)
step=1
print("start =", start)
print("length =", length)
print("step =", step)
print(type(start))
print(type(length))
print(type(step))
print(" ")
print("list original")
print(fruitList)
print(" ")
print("list using [start:length:step]: ")
print(fruitList[start:length:step])
print(" ")
print("list using [0:7:1]:")
print(fruitList[0:7:1])

In [ ]:
# Entire list using negative range of index with explicit values is not possble.
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

length= len(fruitList)
end = -1
step=1
print("start =", -length)
print("end =", end)
print("step =", step)
print(type(start))
print(type(length))
print(type(step))
print(" ")
print("list original")
print(fruitList)
print(" ")
print("list using [start:end:step]: ")
print(fruitList[start:end:step])
print(" ")
print("list using [-7:-1:1]:")
print(fruitList[-7:-1:1])
print(" ")
print("list using [-7:0:1]:")
print(fruitList[-7:0:1])

In [ ]:
# Get entire list using negative index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

length= len(fruitList)

print(" ")
print("list using [-7::]")
print(fruitList[-7::])
print(" ")
print("list using [-7::2]")
print(fruitList[-7::2])

In [ ]:
# Range of index 
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
start = 2
end = 5
print(fruitList[2:5])
print(fruitList[start:end])

#### The result for start=2 to end=5
#### items in index 2,3,4 [from start to (end-1)]
#### or items in position 3,4,5

In [ ]:
# Range of index 
start = 2
end = 5
step=2
print(fruitList[2:5:2])
print(fruitList[start:end:step])

The result for start=2 to end=5 with step=2

items in index 2,4 [from start to (end-1), with step value of 2]

or items in position 3,5

In [ ]:
# Range of index 
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[:5:2])

##### The default value of start is taken as 0

In [ ]:
# Range of index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[::2])
print(fruitList[0:7:2])

##### The default value of start is taken as 0, end is taken as 7

In [ ]:
# Range of index
print(fruitList[2::])

##### The default value of end is taken as 7, step is taken as 1

#### List operation - copy

##### The copy operation creates an exact copy of the original list. Changes to the original or copy do not affect the other.

In [ ]:
fruitListCopy = fruitList.copy()
print(fruitList)
print(fruitListCopy)
print(fruitList==fruitListCopy)

##### The list() operation behaves similar to copy

In [ ]:
fruitListCopy = list(fruitList)
print(fruitList)
print(fruitListCopy)
print(fruitList==fruitListCopy)

#### List operation - replace value of an item in the list

##### A list item is replaced by assigning new value to item directly using = operator. The item is accessed using its index.

In [ ]:
# modify single item
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
fruitListCopy[3] = 'mango_change1'
print(fruitListCopy[3])
fruitListCopy[3] = 'mango_change2'
print(fruitListCopy[3])
print(fruitListCopy)

#### Replace slice of an item. This is done using = operator. The new value is a list(or a slice of list).

In [ ]:
# replace slice of items
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
fruitListCopy[4:6] = ['kiwi_change1','orange_change1']
print(fruitListCopy)
fruitListCopy[4:6] = ['kiwi_change2','orange_change2']
print(fruitListCopy)

In [ ]:
# replace slice of items with single value
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
fruitListCopy[3:6] = ['newfruit']
print(fruitListCopy)

In [ ]:
# replace slice of item with another slice of items
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy1 = fruitList.copy()
fruitListCopy2 = fruitList.copy()

print(fruitListCopy1[1:3])
print(fruitListCopy2[4:7])
fruitListCopy2[1:3] = fruitListCopy1[4:7]

print(fruitList)
print(fruitListCopy1)
print(fruitListCopy2)

##### List operation - Append/Insert item

In [ ]:
# Insert item at index 4
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
fruitListCopy[3] = 'changed'
print(fruitListCopy)
fruitListCopy.insert(4,'newinsert')
print(fruitListCopy)

In [ ]:
# Insert item at the end of the list
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.append('append')
print(fruitListCopy)

In [ ]:
# Insert item at the beginning of the list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.insert(0,'insertatstart')
print(fruitListCopy)

In [ ]:
# Remove list item by item
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.remove("kiwi")
print(fruitListCopy)

In [ ]:
fruits = ["apple","banana","banana"]
fruits.remove("banana")
print(fruits)

In [ ]:
#Remove item using item index
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.pop(4)
print(fruitListCopy)

In [ ]:
#Remove item using item index and print the removed item
fruitListCopy = fruitList.copy()
fruit = fruitListCopy.pop(4)
print(fruit)

In [ ]:
# Remove the last item

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.pop()
print(fruitListCopy)

In [ ]:
# Remove the first item
fruitListCopy = fruitList.copy()
print(fruitListCopy)
del fruitListCopy[0]
print(fruitListCopy)

In [ ]:
# Remove the entire list
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
print(fruitListCopy)
del fruitListCopy
print(fruitListCopy)

In [ ]:
# Clear the entire list
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.clear()
print(fruitListCopy)

#### List operation - Looping though the list

In [ ]:
# Loop through the list by getting the item
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
for item in fruitList:
  print("The fruit name is")
  print(item)
print("out of loop")

In [ ]:
range(len(fruitList))

In [ ]:
# Loop through the list by index value using range() and len()
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
for index in range(len(fruitList)):
  print(index)
  print(fruitList[index])

In [ ]:
# range function has start, end, step
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
for index in range(0,6,2):
  print(fruitList[index])

In [ ]:
#Loop using while 
index =0
while index < len(fruitList):
  print(fruitList[index])
  index+=1

##### List Comprehension

In [ ]:
# Loop using List comprehension
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

[item for item in fruitList]

In [ ]:
# list comprehension with condition

[item for item in fruitList if item[0]>'c']

In [ ]:
numList = [1,2,3]
[num+2 for num in numList]

##### Using lambda

In [ ]:
# Lambda example

add_ten_func = lambda a : a + 10
print(add_ten_func(5))

In [ ]:
add_numbers_func = lambda a, b, c : a + b + c
print(add_numbers_func(5, 6, 2))

In [ ]:
welcomeFunc = lambda name:"welcome "+name
welcomeFunc("Bob")

In [ ]:
def welcomeSalutationFunc(salutation):
  return lambda name: "welcome "+salutation+" "+name
welcomeDoctor = welcomeSalutationFunc("Dr")
welcomeJudgeMale = welcomeSalutationFunc("His Excellency")
welcomeJudgeFemale = welcomeSalutationFunc("Her Excellency")

welcomeDoctor("John")
welcomeJudgeMale("Bob")
welcomeJudgeFemale("Alice")

In [ ]:
# Use lambda to get entire list

list(map(lambda x:x, fruitList))

In [ ]:
# Get list of boolean based on whether the item in the original list has first letter greater than c.
list(map(lambda x:x[0]>'c', fruitList))

In [ ]:
#Filter list of items having the first letter greater than c
list(filter(lambda x:x[0]>'c', fruitList))

##### Sort List

In [ ]:
# Sort  list in ascending order
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.sort(reverse=False)
print(fruitListCopy)

In [ ]:
# Sort  list in descending order

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.sort(reverse=True)
print(fruitListCopy)

##### Join List

In [ ]:
# Concatanate two list to create a bigger list 
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
costList = [10,7,8,9,5,9,10]
fruitAndCostList = fruitList+costList
print(fruitAndCostList)

In [ ]:
# Make a bigger list with two lists using extend rather than join

fruitListCopy = fruitList.copy()
fruitListCopy.extend([10,7,8,9,5,9,10])
print(fruitListCopy)

##### Count

In [ ]:
# Get number of occurrence of an item in a list 

costList = [10,7,8,9,5,9,10]
print(costList.count(10))
print(costList.count(9))
print(costList.count(5))
print(costList.count(11))

##### Reverse

In [ ]:
# Reverse the items in a list

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.reverse()
print(fruitListCopy)

##### Typecasting to tuples, set

In [ ]:
#Convert to tuple
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
convertToTuple = tuple(fruitListCopy)
print(convertToTuple)
print(type(convertToTuple))

In [ ]:
#Convert to set
#['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
fruitListCopy = fruitList.copy()
convertToSet = set(fruitListCopy)
print(convertToSet)
print(type(convertToSet))



```
# This is formatted as code
```

### Sequence - Tuples
##### ORDERED, ALLOW DUPLICATES, IMMUTABLE

##### A tuple is collection of ordered and immutable objects. It allows for duplicates.

In [ ]:
personTuple = (13454,'John',23,'Manager','London')
print(personTuple)

##### Empty Tuple

In [ ]:
emptyTuple = ()
print(emptyTuple)

#### Tuple with single item. Do not forget the comma.

In [ ]:
singleTupleWrong = ('John')
print(singleTupleWrong)
print(type(singleTupleWrong))
singleTupleWrong = (1)
print(singleTupleWrong)
print(type(singleTupleWrong))
singleTupleWrong = (True)
print(singleTupleWrong)
print(type(singleTupleWrong))

In [ ]:
singleTuple = ('John',)
print(singleTuple)
print(type(singleTuple))
singleTuple = (1,)
print(singleTuple)
print(type(singleTuple))
singleTuple = (True,)
print(singleTuple)
print(type(singleTuple))

#### Length of the Tuple

In [ ]:
print(personTuple)
print(len(personTuple))

#### Tuple constructor

In [ ]:
constructorTuple = tuple((13454, 'John', 23, 'Manager', 'London'))
print(constructorTuple)

In [ ]:
constructorTuple2=tuple(personTuple)
print(personTuple == constructorTuple)
print(personTuple == constructorTuple2)
print(constructorTuple == constructorTuple2)

In [ ]:
# construct from list
personConstructor = tuple([13454, 'John', 23, 'Manager', 'London'])
print(personConstructor)
print(type(personConstructor))

In [ ]:
# construct from set
personConstructor = tuple({13454, 'John', 23, 'Manager', 'London'})
print(personConstructor)
print(type(personConstructor))

##### Access Tuple Item using index

In [ ]:
# Positive Indexing -from 0 to (length of tuple - 1) .
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[0])
print(personTuple[1])
print(personTuple[length-2])
print(personTuple[length-1])

In [ ]:
# Negative Indexing - from -(length of tuple) to -1.
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[-length])
print(personTuple[-length+1])
print(personTuple[-2])
print(personTuple[-1])

##### Get tuple slice by range of Index

In [ ]:
# the range is defined using [start:end:step] Default value is [0:(length of tuple):1]
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[0:length:1])

In [ ]:
# Tuple slice by Negative index. Getting entire tuple by explicitly using negative index is not possible
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[-length:-1:1])

In [ ]:
# Get entire tuple by using partial negative index


length = len(personTuple)

print(personTuple[-length::])

##### Check if an item exists in the tuple

In [ ]:
# Check if the tuple has john's data
if "John" in personTuple:
  print("The tuple contains john's data") 
else:
  print("The tuple does not contain john's data")

In [ ]:
# Check if the tuple has bob's data
if "Bob" in personTuple:
  print("The tuple contains bob's data") 
else:
  print("The tuple does not contain bob's data")

##### A Tuple is immutable

In [ ]:
personTuple[1] = "Bob"
print(personTuple)

##### Update item value in a tuple

In [ ]:
personTupleCopy = tuple(personTuple)

print(personTupleCopy)

personTupleToList = list(personTupleCopy)
print(personTupleToList)
personTupleToList[1] = "Changed"
print(personTupleToList)
personTupleCopy = tuple(personTupleToList)
print(personTupleCopy)

##### Unpack a tuple

In [ ]:
print(personTuple)
(id,name,age,designation, location) = personTuple
print(id)
print(name)
print(age)
print(designation)
print(location)

In [ ]:
print(personTuple)
(*personalDetails,designation, location) = personTuple
print(personalDetails)
print(designation)
print(location)

##### Loop through Tuple

In [ ]:
# Loop using for 

for detail in personTuple:
  print(detail)

In [ ]:
#Loop with index using range() and len()

for i in range(len(personTuple)):
  print(personTuple[i])

In [ ]:
# Using while loop

i=0
while i<len(personTuple):
  print(personTuple[i])
  i=i+1

##### Join Tuples

In [ ]:
addressTuple = ("Address line1","Address line2", 101101)
newTuple = personTuple + addressTuple
print(newTuple)

##### Multiply content of a Tuple by number of times

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

##### Count - count number of occurrence of an item in the Tuple

In [ ]:
fruits = ("apple", "banana", "cherry", "banana", "cherry", "cherry")
print(fruits.count("apple"))
print(fruits.count("banana"))
print(fruits.count("cherry"))

##### Get index of an item in an Tuple

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits.index("apple"))
print(fruits.index("banana"))
print(fruits.index("cherry"))

##### Trying to get an index of an non existent item

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits.index("melon"))

##### Typecasting to list,set

In [ ]:
# Convert to list
fruits = ("apple", "banana", "cherry")
print(fruits)
convertToList = list(fruits)
print(convertToList)
print(type(convertToList))

In [ ]:
# Convert to set
fruits = ("apple", "banana", "cherry")
print(fruits)
convertToSet = set(fruits)
print(convertToSet)
print(type(convertToSet))

### Sequence - Set
##### UNORDERED, NO DUPLICATES, IMMUTABLE

In [ ]:
positiveIntegerSet = {1,2,3,4,5,6,7,8,9}
print(positiveIntegerSet)

##### Type of set

In [ ]:
print(type(positiveIntegerSet))

##### Length of the Set

In [ ]:
length = len(positiveIntegerSet)
print(length)

##### Duplicates not allowed. It is automatically de-duped.

In [ ]:
primeNumberSet = {1,2,3,3,5}
print(primeNumberSet)

##### Set constructor

In [ ]:
# Construct from set

positiveIntegerSet = set({1,2,3,4,5,6,7,8,9})
print(positiveIntegerSet)

In [ ]:
# Construct from list

positiveIntegerSet = set([1,2,3,4,5,6,7,8,9])
print(positiveIntegerSet)

In [ ]:
# Construct from tuple
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
print(positiveIntegerSet)

##### Set is unordered

In [ ]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
positiveIntegerSet[1]

##### Access set item

In [ ]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
for num in positiveIntegerSet:
  print(num)

In [ ]:
# Get last item. The set is unordered so the order in which the items are popped out cannot be determined.
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
print(positiveIntegerSet)
lastItem = positiveIntegerSet.pop()

print(lastItem)

##### Check if an item exits in a set

In [ ]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
print([3 in positiveIntegerSet])
print([10 in positiveIntegerSet])

##### Add Item

In [ ]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
positiveIntegerSet.add(0)
print(positiveIntegerSet)

##### Add entire set

In [ ]:
# add another set into existing set
positiveIntegerSet={1,2,3,4,5}
positiveIntegerSet2={4,5,6,7,8,9}
positiveIntegerSet.update(positiveIntegerSet2)
print(positiveIntegerSet)

In [ ]:
# add a list into existing set
positiveIntegerSet={1,2,3,4,5}
positiveIntegerList=[4,5,6,7,8,9]
positiveIntegerSet.update(positiveIntegerList)
print(positiveIntegerSet)

In [ ]:
# add a tuple into existing set
positiveIntegerSet={1,2,3,4,5}
positiveIntegerList=(4,5,6,7,8,9)
positiveIntegerSet.update(positiveIntegerList)
print(positiveIntegerSet)

##### Remove item from set

In [ ]:
# Using remove
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.remove("banana")

print(fruitsSet)

In [ ]:
# Using remove and the item does not exist in the set
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.remove("melon")

print(fruitsSet)

In [ ]:
# Using discard
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.discard("banana")

print(fruitsSet)

In [ ]:
# Using discard and the item does not exist in the set
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.discard("melon")

print(fruitsSet)

##### Clear the Set

In [ ]:
fruitSet = {"apple", "banana", "cherry"}
print(fruitSet)
fruitSet.clear()
print(fruitSet)

##### delete the Set

In [ ]:
delFruitSet = {"apple", "banana", "cherry"}
print(delFruitSet)

In [ ]:
del delFruitSet

In [ ]:
print(delFruitSet)

##### Loop through Set

In [ ]:
fruitSet = {"apple", "banana", "cherry"}
for fruit in fruitSet:
  print(fruit)

##### Set operations

In [ ]:
# union - the same can be achieved using update()
fruitSet = {"apple", "banana", "cherry"}
citrusSet = {"orange", "Lemon"}
unionSet = fruitSet.union(citrusSet)
print(unionSet)

In [ ]:
# intersection without creating new Set
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet1.intersection_update(fruitSet2)
print(fruitSet1)

In [ ]:
# intersection with creation of new Set
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet = fruitSet1.intersection(fruitSet2)
print(fruitSet)

In [ ]:
# get union of sets minus the intersection
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet1.symmetric_difference_update(fruitSet2)
print(fruitSet1)

In [ ]:
# get union of sets minus the intersection
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet = fruitSet1.symmetric_difference(fruitSet2)
print(fruitSet)

In [ ]:
# difference between two sets
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet = fruitSet1.difference(fruitSet2)
print(fruitSet)

In [ ]:
# difference between two sets
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet1.difference_update(fruitSet2)
print(fruitSet1)

In [ ]:
# isdisjoint

disjointSet1 = {1,2,3}
disjointSet2 = {4,5,6}
disjointSet1.isdisjoint(disjointSet2)

In [ ]:
# isdisjoint

disjointFalseSet1 = {1,2,3,4,5}
disjointFalseSet2 = {4,5,6,7,8}
disjointFalseSet1.isdisjoint(disjointFalseSet2)

In [ ]:
#issuperset() 
superSet = {1,2,3,4,5,6,7,8,9}
subSet = {1,2,3,5,7}
superSet.issuperset(subSet)

In [ ]:
#issuperset()
superSet = {1,2,3,4,5,6,7,8,9}
subSet = {11,12,13}
superSet.issuperset(subSet)

In [ ]:
#issubset()
superSet = {1,2,3,4,5,6,7,8,9}
subSet = {1,2,3,5,7}
subSet.issubset(superSet)

In [ ]:
#issubset()
superSet = {1,2,3,4,5,6,7,8,9}
subSet = {11,12,13}
subSet.issubset(superSet)

### Sequence - Dict
In the latest Python Versions (Above 3.7) Dict type is ORDERED.

NO DUPLICATES, MUTABLE

In [1]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}
print(capitalsDict)

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'New Delhi'}

##### Length of Dict

In [2]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}

length = len(capitalsDict)

print(length)

5

In [3]:
# type
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}
print(type(capitalsDict))

<class 'dict'>

##### Access Item

In [4]:
# Using Key
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}
capitalOfUK = capitalsDict["UK"]
print(capitalOfUK)

London

In [5]:
# Using get()
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}
capitalOfUK = capitalsDict.get("UK")
print(capitalOfUK)

London

In [6]:
# Get all keys in the dictionary

capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}

countriesAsKeys = capitalsDict.keys()

print(countriesAsKeys)
print(type(countriesAsKeys))

countriesAsList = list(countriesAsKeys)
print(countriesAsList)
print(type(countriesAsList))

dict_keys(['Japan', 'UK', 'Russia', 'France', 'India'])
<class 'dict_keys'>
['Japan', 'UK', 'Russia', 'France', 'India']
<class 'list'>

In [7]:
# Loop through keys
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}

countriesAsKeys = capitalsDict.keys()
for country in countriesAsKeys:
  print(country)

Japan
UK
Russia
France
India

In [8]:
# Get all values in the dictionary

capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}

capitalsAsValues = capitalsDict.values()

print(capitalsAsValues)
print(type(capitalsAsValues))

capitalsAsList = list(capitalsAsValues)
print(capitalsAsList)
print(type(capitalsAsList))

dict_values(['Tokyo', 'London', 'Moscow', 'Paris', 'New Delhi'])
<class 'dict_values'>
['Tokyo', 'London', 'Moscow', 'Paris', 'New Delhi']
<class 'list'>

In [9]:
# Loop through values
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"New Delhi"}

capitalsAsValues = capitalsDict.values()
for capital in capitalsAsValues:
  print(capital)

Tokyo
London
Moscow
Paris
New Delhi

In [10]:
#Get all values in the Dict and update any value

capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}

capitalsAsValues = capitalsDict.values()

print(capitalsAsValues)

capitalsDict["India"] = "New Delhi"

print(capitalsAsValues)
print(capitalsDict)
capitalsDict["Indonesia"] = "Jakarta"

print(capitalsAsValues)
print(capitalsDict)

dict_values(['Tokyo', 'London', 'Moscow', 'Paris', 'Delhi'])
dict_values(['Tokyo', 'London', 'Moscow', 'Paris', 'New Delhi'])
{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'New Delhi'}
dict_values(['Tokyo', 'London', 'Moscow', 'Paris', 'New Delhi', 'Jakarta'])
{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'New Delhi', 'Indonesia': 'Jakarta'}

In [14]:
#Get all values in the Dict and update any value

capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}

capitalsAsValues = capitalsDict.values()
capitalsAsList = list(capitalsAsValues)
print(capitalsAsList)

capitalsDict["India"] = "New Delhi"

print(capitalsAsList)
print(capitalsDict)
print(capitalsAsValues)

['Tokyo', 'London', 'Moscow', 'Paris', 'Delhi']
['Tokyo', 'London', 'Moscow', 'Paris', 'Delhi']
{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'New Delhi'}
dict_values(['Tokyo', 'London', 'Moscow', 'Paris', 'New Delhi'])

In [15]:
# Key not exists

capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}

print(capitalsDict["Peru"])

KeyError: ignored

In [16]:
# Check the key exists


capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}

if "Peru" in capitalsDict:
  print(capitalsDict["Peru"])

if "Russia" in capitalsDict:
  print(capitalsDict["Russia"])

Moscow

##### Add Item

In [17]:

capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}

capitalsDict["Indonesia"] = "Jakarta"

print(capitalsDict)

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi', 'Indonesia': 'Jakarta'}

##### Update Item

In [18]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}
capitalsDict.update({"India":"New Delhi"})
print(capitalsDict)

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'New Delhi'}

##### Remove Item

In [19]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}

capitalsDict.pop("Russia")
print(capitalsDict)

del capitalsDict["Japan"]
print(capitalsDict)

{'Japan': 'Tokyo', 'UK': 'London', 'France': 'Paris', 'India': 'Delhi'}
{'UK': 'London', 'France': 'Paris', 'India': 'Delhi'}

In [20]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}
print(capitalsDict)

capitalsDict.popitem()
print(capitalsDict)

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}
{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris'}

##### del method

In [21]:
# Delete Item
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}
print(capitalsDict)

del capitalsDict["Japan"]
print(capitalsDict)

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}
{'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}

In [22]:
# Delete Dict
capitalsDictForDel = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}
print(capitalsDictForDel)
del capitalsDictForDel

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}

In [23]:
print(capitalsDictForDel)

NameError: ignored

##### clear()

In [25]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}
print(capitalsDict)

capitalsDict.clear()
print(capitalsDict)
print(type(capitalsDict))

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}
{}
<class 'dict'>

##### copy()

In [26]:
capitalsDict = {"Japan":"Tokyo", "UK":"London", "Russia":"Moscow","France":"Paris", "India":"Delhi"}
print(capitalsDict)
print(capitalsDict.copy())

{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}
{'Japan': 'Tokyo', 'UK': 'London', 'Russia': 'Moscow', 'France': 'Paris', 'India': 'Delhi'}

##### Nested Dicts

In [27]:
family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
} 

print(family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [28]:
family["child2"]["name"]

'Tobias'

### Summary
######List - ORDERED, ALLOW DUPLICATES, MUTABLE
#####Tuple - ORDERED, ALLOW DUPLICATES, IMMUTABLE
#####Set - UNORDERED, NO DUPLICATES, IMMUTABLE
#####DIct - NO DUPLICATES, MUTABLE