<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Hello world Example

In [1]:
print("Hello, World!")

Hello, World!

## Variables

In [2]:
x=5
y=7

In [4]:
print(x)
x

5

5

In [5]:
type(x)

int

## Simple Data types

variables do not have explicit data type as python associates types with values.
So x = 8 works. But int x = 8 will throw syntax error. However we may use type hinting using x:int = 8 which is same as x = 8

#### Int (Numeric)

In [8]:
x:int = 8
y=8
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

#### Float(Numeric)

In [9]:
x=8.8
print(type(x))

<class 'float'>

#### Complex numbers(Numeric)

In [10]:
c1 = complex(2,3)
print(c1)
print(type(c1))

(2+3j)
<class 'complex'>

#### Boolean data type

In [19]:
x= True
y= False
print(x)
print(y)

True
False

In [24]:
print(1==1)
print(1>2)
print(1<2)

True
False
True

### String data type

In [26]:
txt1 = "cats rule the world"
print(txt1)
print(type(txt1))

cats rule the world
<class 'str'>

In [27]:

txt2 = 'cats rule the world'
print(txt2)
print(type(txt2))

cats rule the world
<class 'str'>

In [28]:
print(txt1==txt2)

True

## Type casting

### Int to String

In [12]:
num=8
txt = str(num)
print(txt)
print(type(num))
print(type(txt))

8
<class 'int'>
<class 'str'>

In [13]:
num=8
txt = "cats rule the world"
print(num+" "+txt)

TypeError: ignored

In [14]:
num=8
txt = "cats rule the world"
print(str(num)+" "+txt)

8 cats rule the world

### Float to String

In [16]:
num = 8.2
print(str(num))
print(type(str(num)))

8.2
<class 'str'>

### Complex to string

In [17]:
c1 = complex(3,4)
print(str(c1))

(3+4j)

### String to Int

In [25]:
txt = "cats rule the world"
print(int(txt))

ValueError: ignored

In [29]:
raw_user_age = input("What is your age?")
user_age = int(raw_user_age)
print(user_age)

What is your age?12
12

In [30]:
print(type(raw_user_age))
print(type(int(raw_user_age)))

<class 'str'>
<class 'int'>

### String to Float

In [31]:
txtFloat = "8.2"
print(type(txtFloat))
print(type(float(txtFloat)))

<class 'str'>
<class 'float'>

### String to Complex

In [35]:
txtComplex="(3+4j)"
print(type(txtComplex))
print(type(complex(c1)))

<class 'str'>
<class 'complex'>

## Data types continued...

### Sequence - List

In [47]:
# List of Strings
fruitList = ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList)
print(type(fruitList))

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
<class 'list'>

In [41]:
# List with mixed type

mixedList = ["apple", 1]
print(type(mixedList[0]))
print(type(mixedList[1]))

<class 'str'>
<class 'int'>

### List Constructor

In [43]:
fruitsConstructor = list(("apple", "banana", "cherry"))
print(fruitsConstructor)
print(type(fruitsConstructor))

['apple', 'banana', 'cherry']
<class 'list'>

### List operations - Length

In [42]:
print(len(fruitList))
print(len(mixedList))

3
2

### List operation - Access list item

In [50]:
# Positive Indexing [Index starts from 0 to (length of the list - 1)]
print(fruitList[0])

apple

In [49]:
# Positive Indexing
print(fruitList[1])

banana

In [53]:
print(fruitList[len(fruitList)-1])

pineapple

In [46]:
# Negative Indexing [index starts from -1 to length of the list]
print(fruitList[-1])

cherry

In [55]:
# Negative Indexing
print(fruitList[-len(fruitList)])

apple

In [65]:
# Default values for Range of Index
start=0
end= len(fruitList)
step=1
print("start =", start)
print("end =", end)
print("step =", step)
print(type(start))
print(type(end))
print(type(step))
print(fruitList)
print(fruitList[start:end:step])

start = 0
end = 7
step = 1
<class 'int'>
<class 'int'>
<class 'int'>
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [67]:
# Range of index 
start = 2
end = 5
print(fruitList[start:end])

['cherry', 'mango', 'kiwi']

#### The result for start=2 to end=5
#### items in index 2,3,4 [from start to (end-1)]