<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Hello world Example

In [2]:
print("Hello, World!")

Hello, World!

## Variables

In [3]:
x=5
y=7

In [4]:
print(x)
x

5

5

In [5]:
type(x)

int

## Simple Data types

variables do not have explicit data type as python associates types with values.
So x = 8 works. But int x = 8 will throw syntax error. However we may use type hinting using x:int = 8 which is same as x = 8

#### Int (Numeric)

In [6]:
x:int = 8
y=8
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

#### Float(Numeric)

In [7]:
x=8.8
print(type(x))

<class 'float'>

#### Complex numbers(Numeric)

In [8]:
c1 = complex(2,3)
print(c1)
print(type(c1))

(2+3j)
<class 'complex'>

#### Boolean data type

In [9]:
x= True
y= False
print(x)
print(y)

True
False

In [10]:
print(1==1)
print(1>2)
print(1<2)

True
False
True

### String data type

In [11]:
txt1 = "cats rule the world"
print(txt1)
print(type(txt1))

cats rule the world
<class 'str'>

In [12]:

txt2 = 'cats rule the world'
print(txt2)
print(type(txt2))

cats rule the world
<class 'str'>

In [13]:
print(txt1==txt2)

True

## Type casting

### Int to String

In [14]:
num=8
txt = str(num)
print(txt)
print(type(num))
print(type(txt))

8
<class 'int'>
<class 'str'>

In [15]:
num=8
txt = "cats rule the world"
print(num+" "+txt)

TypeError: ignored

In [16]:
num=8
txt = "cats rule the world"
print(str(num)+" "+txt)

8 cats rule the world

### Float to String

In [17]:
num = 8.2
print(str(num))
print(type(str(num)))

8.2
<class 'str'>

### Complex to string

In [18]:
c1 = complex(3,4)
print(str(c1))

(3+4j)

### String to Int

In [19]:
txt = "cats rule the world"
print(int(txt))

ValueError: ignored

In [24]:
raw_user_age = input("What is your age?")
user_age = int(raw_user_age)
print(user_age)

What is your age?12
12

In [25]:
print(type(raw_user_age))
print(type(int(raw_user_age)))

<class 'str'>
<class 'int'>

### String to Float

In [27]:
txtFloat = "8.2"
print(type(txtFloat))
print(type(float(txtFloat)))

<class 'str'>
<class 'float'>

ValueError: ignored

### String to Complex

In [28]:
txtComplex="(3+4j)"
print(type(txtComplex))
print(type(complex(c1)))

<class 'str'>
<class 'complex'>

## Data types continued...

### Sequence - List

In [30]:
# List of Strings
fruitList = ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList)
print(type(fruitList))
print(type(fruitList[0]))

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
<class 'list'>
<class 'str'>

In [31]:
# List with mixed type

mixedList = ["apple", 1]
print(type(mixedList[0]))
print(type(mixedList[1]))

<class 'str'>
<class 'int'>

#### List Constructor

In [32]:
fruitsConstructor = list(("apple", "banana", "cherry"))
print(fruitsConstructor)
print(type(fruitsConstructor))

['apple', 'banana', 'cherry']
<class 'list'>

#### List operations - Length

In [33]:
print(len(fruitList))
print(len(mixedList))

7
2

#### List operation - Access list item

In [34]:
# Positive Indexing [Index starts from 0 to (length of the list - 1)]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[0])

apple

In [35]:
# Positive Indexing
print(fruitList[1])

banana

In [38]:
print(fruitList[len(fruitList)-1])
print(fruitList[6])

pineapple
pineapple

IndexError: ignored

In [39]:
# Negative Indexing [index starts from -1 to length of the list]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[-1])

pineapple

In [ ]:
# Negative Indexing
print(fruitList[-len(fruitList)])

In [ ]:
# Default values for Range of Index
start=0
end= len(fruitList)
step=1
print("start =", start)
print("end =", end)
print("step =", step)
print(type(start))
print(type(end))
print(type(step))
print(fruitList)
print(fruitList[start:end:step])

In [ ]:
# Range of index 
start = 2
end = 5
print(fruitList[2:5])
print(fruitList[start:end])

#### The result for start=2 to end=5
#### items in index 2,3,4 [from start to (end-1)]
#### or items in position 3,4,5

In [ ]:
# Range of index 
start = 2
end = 5
step=2
print(fruitList[2:5:2])
print(fruitList[start:end:step])

The result for start=2 to end=5 with step=2

items in index 2,4 [from start to (end-1), with step value of 2]

or items in position 3,5

In [ ]:
# Range of index 

print(fruitList[:5:2])

##### The default value of start is taken as 0

In [ ]:
# Range of index
print(fruitList[::2])

##### The default value of start is taken as 0, end is taken as 7

In [ ]:
# Range of index
print(fruitList[2::])

##### The default value of end is taken as 7, step is taken as 1

#### List operation - modify value of an item in the list

In [ ]:
# modify single item
fruitListChanged = fruitList.copy()
fruitListChanged[3] = 'mango_change1'
print(fruitListChanged[3])
fruitListChanged[3] = 'mango_change2'
print(fruitListChanged[3])

In [ ]:
# modify slice of items
fruitListChanged = fruitList.copy()
fruitListChanged[4:6] = ['kiwi_change1','orange_change1']
print(fruitListChanged)
fruitListChanged[4:6] = ['kiwi_change2','orange_change2']
print(fruitListChanged)

In [ ]:
# modify slice of items with single value
fruitListChanged = fruitList.copy()
fruitListChanged[3:6] = ['newfruit']
print(fruitListChanged)

##### List operation - Append item

In [ ]:
# Insert item at index 4
fruitListChanged = fruitList.copy()
fruitListChanged[3] = 'changed'
print(fruitListChanged)
fruitListChanged.insert(4,'newinsert')
print(fruitListChanged)

In [ ]:
# Insert item at the end of the list
fruitListChanged = fruitList.copy()
print(fruitListChanged)
fruitListChanged.append('append')
print(fruitListChanged)

In [ ]:
# Insert item at the beginning of the list
fruitListChanged = fruitList.copy()
print(fruitListChanged)
fruitListChanged.insert(0,'insertatstart')
print(fruitListChanged)

### Sequence -

In [ ]:
print(fruitList)