<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

##### Get Version

In [ ]:

print(pd.__version__)

### Series

In [ ]:
mylist = [1, 7, 2]
myseries = pd.Series(mylist)
print(myseries)

In [ ]:
type(myseries)

In [ ]:
# implicit index
myseries.iloc[0]

In [ ]:
# implicit index
myseries.iloc[1]

In [ ]:
myseries2 = pd.Series(mylist, index=[1,2,3])
print(myseries2)

In [ ]:
# implicit index
myseries2.iloc[1]

In [ ]:
#explicit index
myseries2.loc[1]

##### Default index

In [ ]:
print(myseries)

In [ ]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

##### Labelled Index

In [ ]:
mylist = [1, 7, 2]
myseries =  pd.Series(mylist, index = ["x", "y", "z"])
print(myseries)

In [ ]:
# access items in a series
print(myseries["x"])
print(myseries["y"])
print(myseries["z"])

In [ ]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

##### Create series using Dict

In [ ]:
# Dict showing daywise calories

mydict = {"day1": 420, "day2": 380, "day3": 390}
myseries =  pd.Series(mydict)
print(myseries)

In [ ]:
myseries["day1":"day2"]

In [ ]:
myseries["day1":"day3"]

In [ ]:
# access items in a series
print(myseries["day1"])
print(myseries["day2"])
print(myseries["day3"])

In [ ]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

In [ ]:
# create series using only day 1 and day 2 calories data

newseries =  pd.Series(mydict,["day1","day2"])
print(newseries)

### DataFrame

##### Create dataframe

In [ ]:
# create a column(in this example we use list) called calories

calories = [420, 380, 390]
print(calories)
print(type(calories))

In [ ]:
# create a column(in this example we use list) called duration

duration = [50, 40, 45]
print(duration)
print(type(duration))

In [ ]:
# create data for dataframe using the columns (list) calories and duration

mydata = {"calories":calories, "duration":duration} 
print(mydata)
print(type(mydata))

In [ ]:
# create dataframe
mydataframe = pd.DataFrame(mydata)
print(mydataframe)
print(type(mydataframe))

#### Get headers

In [ ]:
mydataframe.columns

#### Get a row/rows from a dataframe

In [ ]:
# get first row from dataframe
mydataframe.loc[0]

In [ ]:
# data type of a row in a dataframe
type(mydataframe.loc[0])

In [ ]:
#get last row in a dataframe
length=len(mydataframe)
mydataframe.loc[length-1]

In [ ]:
# get multiple rows from a dataframe - Filtering

mydataframe.loc[[0,1]]

#### Get Column of a dataframe

In [ ]:
mydataframe["calories"]

In [ ]:
mydataframe.calories

#### Index of a dataframe

In [ ]:
# Default Index
mydataframe

In [ ]:
# Named index
namedindexdf = pd.DataFrame(mydata,["day1","day2","day3"])
print(namedindexdf)

In [ ]:
# Locate using named index
namedindexdf.loc["day1"]

In [ ]:
# filter rows
namedindexdf.loc[["day1","day2"]]

### CSV

##### Create a csv file

In [ ]:
import csv

header = ['name', 'area', 'country_code2', 'country_code3']
data = [
    ['Albania', 28748, 'AL', 'ALB'],
    ['Algeria', 2381741, 'DZ', 'DZA'],
    ['American Samoa', 199, 'AS', 'ASM'],
    ['Andorra', 468, 'AD', 'AND'],
    ['Angola', 1246700, 'AO', 'AGO'],
    ['Anguilla',102, 'AI','AIA']
]

with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)
f.close()

### Load data from a file into a dataframe

In [ ]:
# Load a csv file
df = pd.read_csv('countries.csv')

In [ ]:
# print the dataframe
print(df)

To print entire dataframe use print(df.tostring())

### JSON

In [ ]:
# create json data from existing data
datajson = {}
headerlength = len(header)
datacount = len(data)
for k in range(headerlength):
  datajson[header[k]] = {}

for i in range(datacount):
  for j in range(headerlength):   
      datajson[header[j]][i] = data[i][j]
  
print(datajson)

In [ ]:
import json
# write json data to file
with open('data.json', 'w') as outfile:
    json.dump(datajson, outfile)

In [ ]:
# Load country data into dataframe
jsondf =  pd.DataFrame(datajson)
jsondf

In [ ]:
# load json data from file
df = pd.read_json('data.json')
print(df)

### CSV from Google drive

##### Mount google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##### Import csv file from google drive and create dataframe

In [ ]:
iris_df = pd.read_csv('/content/drive/MyDrive/colabs_data/Iris.csv')
iris_df

#### head()

In [ ]:
iris_df.head()

In [ ]:
iris_df.head(10)

#### tail()

In [ ]:
iris_df.tail()

In [ ]:
iris_df.tail(10)

#### Get info about the dataframe

In [ ]:
iris_df.info()

In [ ]:
iris_df.describe()

#### copy()

In [ ]:
copy_demo_df = iris_df.copy()

#### drop()

In [ ]:
copy_demo_df.drop("Id", axis=1)

In [ ]:
copy_demo_df

#### filter

##### filter by rows

In [ ]:
iris_df.loc[[0,2]]

In [ ]:
iris_df.loc[2:5]

In [ ]:
twotofive_df = iris_df.loc[2:5]
eigthttoten_df = iris_df.loc[8:10]

concat_df_list = [twotofive_df, eigthttoten_df]
pd.concat(concat_df_list)

In [ ]:
iris_df[iris_df.Species == "Iris-setosa"]

In [ ]:
# AND
iris_df[(iris_df.Species == "Iris-setosa") & (iris_df.Id<10)]

In [ ]:
# OR
iris_df[(iris_df.Id>140) | (iris_df.Id<10)]

#### Display all items in a dataframe

In [ ]:
pd.get_option('display.max_rows')

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
print(iris_df)

In [ ]:
pd.set_option('display.max_rows', 60)
print(iris_df)

In [ ]:
pd.set_option('display.max_rows',iris_df.shape[0]+1)

In [ ]:
print(iris_df)

In [ ]:
pd.set_option('display.max_rows', 60)
print(iris_df)

### Handling missing data

In [ ]:
titanic_df = pd.read_csv('/content/drive/MyDrive/colabs_data/titanic/train.csv')
print(titanic_df)

In [ ]:
titanic_df.info()

In [ ]:
titanic_df.isna().any()

In [ ]:
titanic_df.isna().sum()

#### dropna()

In [ ]:
titanic_df_dropna_all = titanic_df.copy()

In [ ]:
titanic_df_dropna_all = titanic_df_dropna_all.dropna()

In [ ]:
len(titanic_df)

In [ ]:
len(titanic_df_dropna_all)

In [ ]:
#drop row in which a particular column is has na
titanic_df_dropna_embarked = titanic_df.copy()
titanic_df_dropna_embarked = titanic_df_dropna_embarked[titanic_df_dropna_embarked["Embarked"].notna()]
len(titanic_df_dropna_embarked)

#### fillna()

In [ ]:
# create a copy for verfication
titanic_df_fillna = titanic_df.copy()

In [ ]:
titanic_df.isna().sum()

In [ ]:
# count of missing cabin values
titanic_df["Cabin"].isnull().sum()

In [ ]:
titanic_df["Cabin"]

In [ ]:
#fillna
titanic_df_fillna["Cabin"] = titanic_df_fillna["Cabin"].fillna("U0")

In [ ]:
titanic_df["Cabin"]

In [ ]:
titanic_df_fillna["Cabin"]

In [ ]:
titanic_df["Cabin"].isnull().sum()

In [ ]:
titanic_df_fillna["Cabin"].isnull().sum()

##### Handling multiple fillna

In [ ]:
titanic_df_fillna2 = titanic_df.copy()

In [ ]:
titanic_df_fillna2.info()

In [ ]:
titanic_df_fillna2["Cabin"]

In [ ]:
titanic_df_fillna2["Age"]

In [ ]:
# fillna in multiple columns
titanic_df_fillna2.fillna({"Cabin":"U0","Age":"18"})

##### fillna with mean values

In [ ]:
# fillna for age with mean values
titanic_df_fillna_mean_age = titanic_df.copy()

In [ ]:
mean_age = titanic_df["Age"].mean()
mean_age

In [ ]:
titanic_df_fillna_mean_age["Age"].fillna(round(mean_age))

##### forward fill

In [ ]:
# fillna for age with forward fill
titanic_df_fillna_ffill = titanic_df.copy()

In [ ]:
titanic_df_fillna_ffill[["Sex","Age","SibSp"]]

In [ ]:
titanic_df_fillna_ffill["Age"].fillna(method="ffill")

##### backward fill

In [ ]:
# fillna for age with backword fill
titanic_df_fillna_bfill = titanic_df.copy()

In [ ]:
titanic_df_fillna_bfill[["Sex","Age","SibSp"]]

In [ ]:
titanic_df_fillna_bfill["Age"].fillna(method="bfill")

##### fill previous column value .
##### fill next column value

In [ ]:
titanic_df_fillna_column = titanic_df.copy()

In [ ]:
titanic_df_fillna_index.columns

In [ ]:
titanic_df_fillna_index[["Sex","Age","SibSp"]]

In [ ]:
titanic_df_fillna_next= titanic_df_fillna_index.fillna(method="bfill", axis="columns") 
titanic_df_fillna_previous= titanic_df_fillna_index.fillna(method="ffill", axis="columns")

In [ ]:
titanic_df_fillna_previous[["Sex","Age","SibSp"]]

In [ ]:
titanic_df_fillna_next[["Sex","Age","SibSp"]]

#### Interpolate

In [ ]:
titanic_df_interpolate = titanic_df.interpolate()

In [ ]:
titanic_df[["Age","Cabin","Embarked"]]

In [ ]:
titanic_df_interpolate[["Age","Cabin","Embarked"]]

In [ ]:
titanic_df_interpolate.isna().sum()

#### replace()

In [ ]:
import numpy as np
titanic_df_replace = titanic_df.copy()

In [ ]:
titanic_df_replace["Cabin"] = titanic_df_replace["Cabin"].replace(np.NaN, "Unknown")

In [ ]:
titanic_df_replace["Cabin"]

In [ ]:
titanic_df_replace2 = titanic_df.copy()

In [ ]:
titanic_df_replace2 = titanic_df_replace2.replace({"Cabin":np.NaN,"Embarked":np.NaN},"Unknown")

In [ ]:
titanic_df_replace2[["Age","Cabin","Embarked"]]

In [ ]:
titanic_df_replace2[titanic_df_replace2["Embarked"]=="Unknown"]

#### regex()

In [ ]:
titanic_df_regex = titanic_df.copy()

In [ ]:
titanic_df_regex[titanic_df_regex["Age"].between(20,25)]

In [ ]:
titanic_df_regex[titanic_df_regex["Age"] == 15]

In [ ]:
titanic_df_regex["Age"] =  titanic_df_regex["Age"].replace(15,"15 years")

In [ ]:
#csv 
# titanic_df_regex =pd.read_csv('countries.csv')
titanic_df_regex

In [ ]:
titanic_df_regex[titanic_df_regex["Age"]=="15 years"]

In [ ]:
titanic_df_regex[titanic_df_regex["Age"].between(20,25)]

In [ ]:
titanic_df_regex= titanic_df_regex.replace(to_replace ={'Age':'[A-Za-z]'}, value = '', regex = True)

In [ ]:
titanic_df_regex[titanic_df_regex["Age"]=="15 years"]

In [ ]:
titanic_df_regex[titanic_df_regex["Age"].between(20,25)]

In [ ]:
titanic_df_regex["Age"] = titanic_df_regex["Age"].astype(float)

In [ ]:
titanic_df_regex[titanic_df_regex["Age"].between(20,25)]

##### replace with list

In [ ]:
state_df = pd.DataFrame({'state':['Puduchery','Kerala','Tamilnadu','goa','Rajasthan'],'size':['Small', 'Medium', 'Large', 'Small', 'Large']})

In [ ]:
state_df

In [ ]:
state_df1 = state_df.replace(['Small', 'Medium', 'Large'],[1,2,3])

In [ ]:
state_df1

In [ ]:
state_df2 = state_df.replace({"size":{'Small' : 1, 'Medium' : 2, 'Large' : 3 }})

In [ ]:
state_df2

#### groupby()

Split Apply Combine

In [ ]:
titanic_df.info()

In [ ]:
titanic_df_groupby = titanic_df.copy()

In [ ]:
titanic_df_groupby = titanic_df_groupby.dropna()

In [ ]:
titanic_df_groupby

In [ ]:
titanic_df_groupby = titanic_df.copy()

In [ ]:
titanic_df_groupby = titanic_df_groupby.dropna()

In [ ]:
titanic_df_groupby

In [ ]:
titanic_df_groupby = titanic_df_groupby.groupby("Embarked")

In [ ]:
type(titanic_df_groupby)

In [ ]:
for embarked_index, embarked_df in titanic_df_groupby:
  print(embarked_index)
  print(embarked_df)

In [ ]:
titanic_df_groupby.get_group("Q")

In [ ]:
titanic_df_groupby.max()["Fare"]

In [ ]:
titanic_df_groupby.min()["Fare"]

In [ ]:
titanic_df_groupby.describe()

In [ ]:
titanic_df_groupby.describe()["Fare"]

In [ ]:
%matplotlib inline
titanic_df_groupby.plot()

#### Concat dataframe

In [ ]:
state_df1 = pd.DataFrame({'state':['Puduchery','Kerala','Tamilnadu','goa','Rajasthan'],'size':['Small', 'Medium', 'Large', 'Small', 'Large']})

In [ ]:
state_df1

In [ ]:
state_df2 = pd.DataFrame({'state':['himachal','Telangana','Madyapradesh','sikkim','Uttarpradesh'],'size':['Small', 'Medium', 'Large', 'Small', 'Large']})

In [ ]:
state_df2

In [ ]:
pd.concat([state_df1,state_df2])

In [ ]:
pd.concat([state_df1,state_df2], ignore_index=True)

In [ ]:
pd.concat([state_df1,state_df2], keys=["list1","list2"])

In [ ]:
state_df1

In [ ]:
state_df4 = pd.DataFrame({'state':['Puduchery','Kerala','Tamilnadu','goa','Rajasthan'],'capital':['puduchery', 'thiruvananthapuram', 'chennai', 'panaji', 'jaipur']})

In [ ]:
state_df4

In [ ]:
pd.concat([state_df1,state_df4])

In [ ]:
pd.concat([state_df1,state_df4], axis=1)

In [ ]:
state_df5 = pd.DataFrame({'state':['Kerala','Puduchery','Tamilnadu','goa','Rajasthan'],'capital':['thiruvananthapuram', 'puduchery', 'chennai', 'panaji', 'jaipur']})

In [ ]:
state_df5

In [ ]:
state_df1

In [ ]:
pd.concat([state_df1,state_df5],axis=1)

In [ ]:
state_df5 = state_df5.set_index(pd.Index([1,0,2,3,4]))

In [ ]:
state_df5

In [ ]:
new_df = pd.concat([state_df1,state_df5],axis=1)

In [ ]:
new_df

In [ ]:
new_series = pd.Series(["Tamil","Malayalam","Tamil","Konkani","Hindi"],name="language")
new_series

In [ ]:
new_df= pd.concat([new_df,new_series], axis=1)
new_df

In [ ]:
new_df3 = new_df.T.drop_duplicates().T
new_df3

In [ ]:
~new_df.columns.duplicated()

In [ ]:
new_df2 = new_df.loc[:,~new_df.columns.duplicated()]
new_df2