<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasicDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

### CSV from Google drive

##### Mount from google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##### Import csv file from google drive and create dataframe

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/colabs_data/titanic/train.csv')
train_df

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/colabs_data/titanic/test.csv')
test_df

##### head()

In [ ]:
train_df.head()

In [ ]:
train_df.head(10)

##### tail()

In [ ]:
train_df.tail()

In [ ]:
train_df.tail(10)

##### Get info() of the Dataframe

In [ ]:
train_df.info()

In [ ]:
train_df.describe()

38% of the passengers survived

#### Missing data

In [18]:
# missing values as absolute number

train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [23]:
# missing values as percentages

missingvals = train_df.isnull().sum()/len(train_df)
missingvals.sort_values(ascending=False)

Cabin          0.771044
Age            0.198653
Embarked       0.002245
Fare           0.000000
Ticket         0.000000
Parch          0.000000
SibSp          0.000000
Sex            0.000000
Name           0.000000
Pclass         0.000000
Survived       0.000000
PassengerId    0.000000
dtype: float64