<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Hello world Example

In [1]:
print("Hello, World!")

Hello, World!

## Variables

In [2]:
x=5
y=7

In [3]:
print(x)
x

5

5

In [4]:
type(x)

int

## Simple Data types

variables do not have explicit data type as python associates types with values.
So x = 8 works. But int x = 8 will throw syntax error. However we may use type hinting using x:int = 8 which is same as x = 8

#### Int (Numeric)

In [5]:
x:int = 8
y=8
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

#### Float(Numeric)

In [6]:
x=8.8
print(type(x))

<class 'float'>

#### Complex numbers(Numeric)

In [7]:
c1 = complex(2,3)
print(c1)
print(type(c1))

(2+3j)
<class 'complex'>

#### Boolean data type

In [8]:
x= True
y= False
print(x)
print(y)

True
False

In [9]:
print(1==1)
print(1>2)
print(1<2)

True
False
True

### String data type

In [10]:
txt1 = "cats rule the world"
print(txt1)
print(type(txt1))

cats rule the world
<class 'str'>

In [11]:

txt2 = 'cats rule the world'
print(txt2)
print(type(txt2))

cats rule the world
<class 'str'>

In [12]:
print(txt1==txt2)

True

## Type casting

### Int to String

In [13]:
num=8
txt = str(num)
print(txt)
print(type(num))
print(type(txt))

8
<class 'int'>
<class 'str'>

In [14]:
num=8
txt = "cats rule the world"
print(num+" "+txt)

TypeError: ignored

In [15]:
num=8
txt = "cats rule the world"
print(str(num)+" "+txt)

8 cats rule the world

### Float to String

In [16]:
num = 8.2
print(str(num))
print(type(str(num)))

8.2
<class 'str'>

### Complex to string

In [17]:
c1 = complex(3,4)
print(str(c1))

(3+4j)

### String to Int

In [18]:
txt = "cats rule the world"
print(int(txt))

ValueError: ignored

In [20]:
raw_user_age = input("What is your age?")
user_age = int(raw_user_age)
print(user_age)

What is your age?23
23

In [21]:
print(type(raw_user_age))
print(type(int(raw_user_age)))

<class 'str'>
<class 'int'>

### String to Float

In [22]:
txtFloat = "8.2"
print(type(txtFloat))
print(type(float(txtFloat)))

<class 'str'>
<class 'float'>

### String to Complex

In [23]:
txtComplex="(3+4j)"
print(type(txtComplex))
print(type(complex(c1)))

<class 'str'>
<class 'complex'>

## Data types continued...

### Sequence - List

In [24]:
# List of Strings
fruitList = ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList)
print(type(fruitList))
print(type(fruitList[0]))

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
<class 'list'>
<class 'str'>

In [25]:
# List with mixed type

mixedList = ["apple", 1]
print(type(mixedList[0]))
print(type(mixedList[1]))

<class 'str'>
<class 'int'>

#### List Constructor

In [26]:
fruitsConstructor = list(("apple", "banana", "cherry"))
print(fruitsConstructor)
print(type(fruitsConstructor))

['apple', 'banana', 'cherry']
<class 'list'>

#### List operations - Length

In [27]:
print(len(fruitList))
print(len(mixedList))

7
2

#### List operation - Access list item

In [28]:
# Positive Indexing [Index starts from 0 to (length of the list - 1)]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[0])

apple

In [29]:
# Positive Indexing
print(fruitList[1])

banana

In [30]:
print(fruitList[len(fruitList)-1])
print(fruitList[6])

pineapple
pineapple

In [31]:
# Negative Indexing [index starts from -1 to length of the list]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[-1])

pineapple

In [32]:
# Negative Indexing
print(fruitList[-len(fruitList)])
print(fruitList[-7])

apple
apple

[start,end,step]

In [33]:
# Default values for Range of Index
start=0
end= len(fruitList)
step=1
print("start =", start)
print("end =", end)
print("step =", step)
print(type(start))
print(type(end))
print(type(step))
print(fruitList)
print(fruitList[start:end:step])

start = 0
end = 7
step = 1
<class 'int'>
<class 'int'>
<class 'int'>
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [34]:
# Range of index 
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
start = 2
end = 5
print(fruitList[2:5])
print(fruitList[start:end])

['cherry', 'mango', 'kiwi']
['cherry', 'mango', 'kiwi']

#### The result for start=2 to end=5
#### items in index 2,3,4 [from start to (end-1)]
#### or items in position 3,4,5

In [35]:
# Range of index 
start = 2
end = 5
step=2
print(fruitList[2:5:2])
print(fruitList[start:end:step])

['cherry', 'kiwi']
['cherry', 'kiwi']

The result for start=2 to end=5 with step=2

items in index 2,4 [from start to (end-1), with step value of 2]

or items in position 3,5

In [36]:
# Range of index 
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[:5:2])

['apple', 'cherry', 'kiwi']

##### The default value of start is taken as 0

In [37]:
# Range of index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[::2])
print(fruitList[0:7:2])

['apple', 'cherry', 'kiwi', 'pineapple']
['apple', 'cherry', 'kiwi', 'pineapple']

##### The default value of start is taken as 0, end is taken as 7

In [38]:
# Range of index
print(fruitList[2::])

['cherry', 'mango', 'kiwi', 'orange', 'pineapple']

##### The default value of end is taken as 7, step is taken as 1

#### List operation - modify value of an item in the list

In [47]:
# modify single item
fruitListCopy = fruitList.copy()
fruitListCopy[3] = 'mango_change1'
print(fruitListCopy[3])
fruitListCopy[3] = 'mango_change2'
print(fruitListCopy[3])

mango_change1
mango_change2

In [48]:
# modify slice of items
fruitListCopy = fruitList.copy()
fruitListCopy[4:6] = ['kiwi_change1','orange_change1']
print(fruitListCopy)
fruitListCopy[4:6] = ['kiwi_change2','orange_change2']
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi_change1', 'orange_change1', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'kiwi_change2', 'orange_change2', 'pineapple']

In [49]:
# modify slice of items with single value
fruitListCopy = fruitList.copy()
fruitListCopy[3:6] = ['newfruit']
print(fruitListCopy)

['apple', 'banana', 'cherry', 'newfruit', 'pineapple']

##### List operation - Append/Insert item

In [50]:
# Insert item at index 4
fruitListCopy = fruitList.copy()
fruitListCopy[3] = 'changed'
print(fruitListCopy)
fruitListCopy.insert(4,'newinsert')
print(fruitListCopy)

['apple', 'banana', 'cherry', 'changed', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'changed', 'newinsert', 'kiwi', 'orange', 'pineapple']

In [51]:
# Insert item at the end of the list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.append('append')
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple', 'append']

In [52]:
# Insert item at the beginning of the list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.insert(0,'insertatstart')
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['insertatstart', 'apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [54]:
# Remove list item by item
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.remove("kiwi")
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'orange', 'pineapple']

In [55]:
#Remove item using item index

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.pop(4)
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'orange', 'pineapple']

In [56]:
#Remove item using item index and print the removed item
fruitListCopy = fruitList.copy()
fruit = fruitListCopy.pop(4)
print(fruit)

kiwi

In [57]:
# Remove the last item

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.pop()
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange']

In [58]:
# Remove the first item
fruitListCopy = fruitList.copy()
print(fruitListCopy)
del fruitListCopy[0]
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [59]:
# Remove the entire list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
del fruitListCopy
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

NameError: ignored

In [60]:
# Clear the entire list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.clear()
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
[]

#### List operation - Looping though the list

In [61]:
# Loop through the list by getting the item
for item in fruitList:
  print(item)

apple
banana
cherry
mango
kiwi
orange
pineapple

In [62]:
# Loop through the list by index value using range() and len()
for index in range(len(fruitList)):
  print(fruitList[index])

apple
banana
cherry
mango
kiwi
orange
pineapple

In [67]:
# range function has start, end, step
for index in range(0,6,2):
  print(fruitList[index])

apple
cherry
kiwi

In [70]:
#Loop using while 
index =0
while index < len(fruitList):
  print(fruitList[index])
  index+=1

apple
banana
cherry
mango
kiwi
orange
pineapple

##### List Comprehension

In [72]:
# Loop using List comprehension

[item for item in fruitList]

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [73]:
# Loop with condition

[item for item in fruitList if item[0]>'c']

['mango', 'kiwi', 'orange', 'pineapple']

##### Using lambda

In [74]:
list(map(lambda x:x, fruitList))

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [84]:
list(map(lambda x:x[0]>'c', fruitList))

[False, False, False, True, True, True, True]

In [85]:
list(filter(lambda x:x[0]>'c', fruitList))

['mango', 'kiwi', 'orange', 'pineapple']

##### Sort List

In [86]:
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.sort()
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'pineapple']

In [87]:
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.sort(reverse=True)
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

### Sequence -

In [ ]:
print(fruitList)