<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Hello world Example

In [1]:
print("Hello, World!")

Hello, World!

## Variables

In [2]:
x=5
y=7

In [4]:
print(x)
x

5

5

In [5]:
type(x)

int

## Simple Data types

variables do not have explicit data type as python associates types with values.
So x = 8 works. But int x = 8 will throw syntax error. However we may use type hinting using x:int = 8 which is same as x = 8

#### Int (Numeric)

In [8]:
x:int = 8
y=8
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

#### Float(Numeric)

In [9]:
x=8.8
print(type(x))

<class 'float'>

#### Complex numbers(Numeric)

In [10]:
c1 = complex(2,3)
print(c1)
print(type(c1))

(2+3j)
<class 'complex'>

## Type casting

### Int to String

In [12]:
num=8
txt = str(num)
print(txt)
print(type(num))
print(type(txt))

8
<class 'int'>
<class 'str'>

In [13]:
num=8
txt = "cats rule the world"
print(num+" "+txt)

TypeError: ignored

In [14]:
num=8
txt = "cats rule the world"
print(str(num)+" "+txt)

8 cats rule the world