<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

##### Get Version

In [2]:

print(pd.__version__)

1.1.5

### Series

In [5]:
mylist = [1, 7, 2]
myseries = pd.Series(mylist)
print(myseries)

0    1
1    7
2    2
dtype: int64

In [6]:
type(myseries)

pandas.core.series.Series

##### Default index

In [7]:
print(myseries)

0    1
1    7
2    2
dtype: int64

In [8]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

1
7
2

##### Labelled Index

In [9]:
mylist = [1, 7, 2]
myseries =  pd.Series(mylist, index = ["x", "y", "z"])
print(myseries)

x    1
y    7
z    2
dtype: int64

In [10]:
# access items in a series
print(myseries["x"])
print(myseries["y"])
print(myseries["z"])

1
7
2

In [11]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

1
7
2

##### Create series using Dict