<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Covered Topics

Data Types

*   Data Types - int, float, complex, string etc
*   Sequences - List, Tuple, Set

### Hello world Example

In [ ]:
print("Hello, World!")

## Variables

In [ ]:
x=5
y=7

In [ ]:
print(x)
x

In [ ]:
type(x)

## Simple Data types

variables do not have explicit data type as python associates types with values.
So x = 8 works. But int x = 8 will throw syntax error. However we may use type hinting using x:int = 8 which is same as x = 8

#### Int (Numeric)

In [ ]:
x:int = 8
y=8
print(type(x))
print(type(y))

#### Float(Numeric)

In [ ]:
x=8.8
print(type(x))

#### Complex numbers(Numeric)

In [ ]:
c1 = complex(2,3)
print(c1)
print(type(c1))

#### Boolean data type

In [ ]:
x= True
y= False
print(x)
print(y)

In [ ]:
print(1==1)
print(1>2)
print(1<2)

### String data type

In [ ]:
txt1 = "cats rule the world"
print(txt1)
print(type(txt1))

In [ ]:

txt2 = 'cats rule the world'
print(txt2)
print(type(txt2))

In [ ]:
print(txt1==txt2)

## Type casting

### Int to String

In [ ]:
num=8
txt = str(num)
print(txt)
print(type(num))
print(type(txt))

In [ ]:
num=8
txt = "cats rule the world"
print(num+" "+txt)

In [ ]:
num=8
txt = "cats rule the world"
print(str(num)+" "+txt)

### Float to String

In [ ]:
num = 8.2
print(str(num))
print(type(str(num)))

### Complex to string

In [ ]:
c1 = complex(3,4)
print(str(c1))

### String to Int

In [ ]:
txt = "cats rule the world"
print(int(txt))

In [ ]:
raw_user_age = input("What is your age?")
user_age = int(raw_user_age)
print(user_age)

In [ ]:
print(type(raw_user_age))
print(type(int(raw_user_age)))

### String to Float

In [ ]:
txtFloat = "8.2"
print(type(txtFloat))
print(type(float(txtFloat)))

### String to Complex

In [ ]:
txtComplex="(3+4j)"
print(type(txtComplex))
print(type(complex(c1)))

## Data types continued...

### Sequence - List
##### ORDERED, ALLOW DUPLICATES, MUTABLE

In [86]:
# List of Strings
fruitList = ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList)
print(type(fruitList))
print(type(fruitList[0]))

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
<class 'list'>
<class 'str'>

In [ ]:
# List with mixed type

mixedList = ["apple", 1]
print(type(mixedList[0]))
print(type(mixedList[1]))

#### List Constructor

In [194]:
# construct from list
fruitsConstructor = list(["apple", "banana", "cherry"])
print(fruitsConstructor)
print(type(fruitsConstructor))

['apple', 'banana', 'cherry']
<class 'list'>

In [195]:
# construct from tuple
fruitsConstructor = list(("apple", "banana", "cherry"))
print(fruitsConstructor)
print(type(fruitsConstructor))

['apple', 'banana', 'cherry']
<class 'list'>

In [196]:
# construct from set
fruitsConstructor = list({"apple", "banana", "cherry"})
print(fruitsConstructor)
print(type(fruitsConstructor))

['banana', 'cherry', 'apple']
<class 'list'>

#### List operations - Length

In [ ]:
print(len(fruitList))
print(len(mixedList))

#### List operation - Access list item

In [87]:
# Positive Indexing [Index starts from 0 to (length of the list - 1)]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

print(fruitList[0])

apple

In [89]:
# Positive Indexing
# ['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

print(fruitList[1])

banana

In [106]:
# ['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

length = len(fruitList)
print("Length of list: "+str(length))
print("last item using[length-1]: "+fruitList[length-1])
print("last item using[6]: "+fruitList[6])

Length of list: 7
last item using[length-1]: pineapple
last item using[6]: pineapple

In [107]:
# Negative Indexing [index starts from -1 to length of the list]
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

print("last item using[-1]: "+fruitList[-1])

last item using[-1]: pineapple

In [108]:
# Negative Indexing
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

length = len(fruitList)
print(length)
print("first item using [-length]: "+fruitList[-length])
print("first item using [-7] "+fruitList[-7])

7
first item using [-length]: apple
first item using [-7] apple

[start,end,step]

In [117]:
# Default values for Range of Index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
start=0
length= len(fruitList)
step=1
print("start =", start)
print("length =", length)
print("step =", step)
print(type(start))
print(type(length))
print(type(step))
print(" ")
print("list original")
print(fruitList)
print(" ")
print("list using [start:length:step]: ")
print(fruitList[start:length:step])
print(" ")
print("list using [0:7:1]:")
print(fruitList[0:7:1])

start = 0
length = 7
step = 1
<class 'int'>
<class 'int'>
<class 'int'>

list original
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

list using [start:length:step]:
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

list using [0:7:1]:
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [119]:
# Entire list using negative range of index with explicit values is not possble.
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

length= len(fruitList)
end = -1
step=1
print("start =", -length)
print("end =", end)
print("step =", step)
print(type(start))
print(type(length))
print(type(step))
print(" ")
print("list original")
print(fruitList)
print(" ")
print("list using [start:end:step]: ")
print(fruitList[start:end:step])
print(" ")
print("list using [-7:-1:1]:")
print(fruitList[-7:-1:1])
print(" ")
print("list using [-7:0:1]:")
print(fruitList[-7:0:1])

start = -7
end = -1
step = 1
<class 'int'>
<class 'int'>
<class 'int'>

list original
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

list using [start:end:step]:
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange']

list using [-7:-1:1]:
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange']

list using [-7:0:1]:
[]

In [126]:
# Get entire list using negative index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]

length= len(fruitList)

print(" ")
print("list using [-7::]")
print(fruitList[-7::])
print(" ")
print("list using [-7::2]")
print(fruitList[-7::2])

list using [-7::]
['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

list using [-7::2]
['apple', 'cherry', 'kiwi', 'pineapple']

In [ ]:
# Range of index 
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
start = 2
end = 5
print(fruitList[2:5])
print(fruitList[start:end])

#### The result for start=2 to end=5
#### items in index 2,3,4 [from start to (end-1)]
#### or items in position 3,4,5

In [ ]:
# Range of index 
start = 2
end = 5
step=2
print(fruitList[2:5:2])
print(fruitList[start:end:step])

The result for start=2 to end=5 with step=2

items in index 2,4 [from start to (end-1), with step value of 2]

or items in position 3,5

In [ ]:
# Range of index 
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[:5:2])

##### The default value of start is taken as 0

In [ ]:
# Range of index
# ["apple", "banana", "cherry","mango","kiwi","orange","pineapple"]
print(fruitList[::2])
print(fruitList[0:7:2])

##### The default value of start is taken as 0, end is taken as 7

In [ ]:
# Range of index
print(fruitList[2::])

##### The default value of end is taken as 7, step is taken as 1

#### List operation - copy

##### The copy operation creates an exact copy of the original list. Changes to the original or copy do not affect the other.

In [ ]:
fruitListCopy = fruitList.copy()
print(fruitList)
print(fruitListCopy)
print(fruitList==fruitListCopy)

##### The list() operation behaves similar to copy

In [ ]:
fruitListCopy = list(fruitList)
print(fruitList)
print(fruitListCopy)
print(fruitList==fruitListCopy)

#### List operation - replace value of an item in the list

##### A list item is replaced by assigning new value to item directly using = operator. The item is accessed using its index.

In [ ]:
# modify single item
fruitListCopy = fruitList.copy()
fruitListCopy[3] = 'mango_change1'
print(fruitListCopy[3])
fruitListCopy[3] = 'mango_change2'
print(fruitListCopy[3])

#### Replace slice of an item. This is done using = operator. The new value is a list(or a slice of list).

In [ ]:
# replace slice of items
fruitListCopy = fruitList.copy()
fruitListCopy[4:6] = ['kiwi_change1','orange_change1']
print(fruitListCopy)
fruitListCopy[4:6] = ['kiwi_change2','orange_change2']
print(fruitListCopy)

In [ ]:
# replace slice of items with single value
fruitListCopy = fruitList.copy()
fruitListCopy[3:6] = ['newfruit']
print(fruitListCopy)

In [ ]:
# replace slice of item with another slice of items

fruitListCopy1 = fruitList.copy()
fruitListCopy2 = fruitList.copy()

print(fruitListCopy1[1:3])
print(fruitListCopy2[4:7])
fruitListCopy2[1:3] = fruitListCopy1[4:7]

print(fruitList)
print(fruitListCopy1)
print(fruitListCopy2)

##### List operation - Append/Insert item

In [ ]:
# Insert item at index 4
fruitListCopy = fruitList.copy()
fruitListCopy[3] = 'changed'
print(fruitListCopy)
fruitListCopy.insert(4,'newinsert')
print(fruitListCopy)

In [ ]:
# Insert item at the end of the list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.append('append')
print(fruitListCopy)

In [ ]:
# Insert item at the beginning of the list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.insert(0,'insertatstart')
print(fruitListCopy)

In [ ]:
# Remove list item by item
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.remove("kiwi")
print(fruitListCopy)

In [ ]:
#Remove item using item index

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.pop(4)
print(fruitListCopy)

In [ ]:
#Remove item using item index and print the removed item
fruitListCopy = fruitList.copy()
fruit = fruitListCopy.pop(4)
print(fruit)

In [ ]:
# Remove the last item

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.pop()
print(fruitListCopy)

In [ ]:
# Remove the first item
fruitListCopy = fruitList.copy()
print(fruitListCopy)
del fruitListCopy[0]
print(fruitListCopy)

In [ ]:
# Remove the entire list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
del fruitListCopy
print(fruitListCopy)

In [ ]:
# Clear the entire list
fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.clear()
print(fruitListCopy)

#### List operation - Looping though the list

In [ ]:
# Loop through the list by getting the item
for item in fruitList:
  print(item)

In [ ]:
# Loop through the list by index value using range() and len()
for index in range(len(fruitList)):
  print(fruitList[index])

In [ ]:
# range function has start, end, step
for index in range(0,6,2):
  print(fruitList[index])

In [ ]:
#Loop using while 
index =0
while index < len(fruitList):
  print(fruitList[index])
  index+=1

##### List Comprehension

In [ ]:
# Loop using List comprehension

[item for item in fruitList]

In [ ]:
# Loop with condition

[item for item in fruitList if item[0]>'c']

##### Using lambda

In [127]:
# Use lambda to get entire list
list(map(lambda x:x, fruitList))

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']

In [129]:
# Get list of boolean based on whether the item in the original list has first letter greater than c.
list(map(lambda x:x[0]>'c', fruitList))

[False, False, False, True, True, True, True]

In [130]:
#Filter list of items having the first letter greater than c
list(filter(lambda x:x[0]>'c', fruitList))

['mango', 'kiwi', 'orange', 'pineapple']

##### Sort List

In [131]:
# Sort  list in ascending order

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.sort()
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'pineapple']

In [133]:
# Sort  list in descending order

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.sort(reverse=True)
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

##### Join List

In [136]:
# Concatanate two list to create a bigger list 

costList = [10,7,8,9,5,9,10]
fruitAndCostList = fruitList+costList
print(fruitAndCostList)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple', 10, 7, 8, 9, 5, 9, 10]

In [135]:
# Make a bigger list with two lists using extend rather than join

fruitListCopy = fruitList.copy()
fruitListCopy.extend([10,7,8,9,5,9,10])
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple', 10, 7, 8, 9, 5, 9, 10]

##### Count

In [141]:
# Get number of occurrence of an item in a list 

costList = [10,7,8,9,5,9,10]
print(costList.count(10))
print(costList.count(9))
print(costList.count(5))
print(costList.count(11))

2
2
1
0

##### Reverse

In [142]:
# Reverse the items in a list

fruitListCopy = fruitList.copy()
print(fruitListCopy)
fruitListCopy.reverse()
print(fruitListCopy)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple']
['pineapple', 'orange', 'kiwi', 'mango', 'cherry', 'banana', 'apple']

##### Typecasting to tuples, set

In [186]:
#Convert to tuple
fruitListCopy = fruitList.copy()
convertToTuple = tuple(fruitListCopy)
print(convertToTuple)
print(type(convertToTuple))

('apple', 'banana', 'cherry', 'mango', 'kiwi', 'orange', 'pineapple')
<class 'tuple'>

In [187]:
#Convert to set
fruitListCopy = fruitList.copy()
convertToSet = set(fruitListCopy)
print(convertToSet)
print(type(convertToSet))

{'mango', 'pineapple', 'apple', 'banana', 'orange', 'cherry', 'kiwi'}
<class 'set'>

### Sequence - Tuples
##### ORDERED, ALLOW DUPLICATES, IMMUTABLE

##### A tuple is collection of ordered and immutable objects. It allows for duplicates.

In [143]:
personTuple = (13454,'John',23,'Manager','London')
print(personTuple)

(13454, 'John', 23, 'Manager', 'London')

##### Empty Tuple

In [145]:
emptyTuple = ()
print(emptyTuple)

()

#### Tuple with single item. Do not forget the comma.

In [146]:
singleTupleWrong = ('John')
print(singleTupleWrong)
print(type(singleTupleWrong))
singleTupleWrong = (1)
print(singleTupleWrong)
print(type(singleTupleWrong))
singleTupleWrong = (True)
print(singleTupleWrong)
print(type(singleTupleWrong))

John
<class 'str'>
1
<class 'int'>
True
<class 'bool'>

In [147]:
singleTuple = ('John',)
print(singleTuple)
print(type(singleTuple))
singleTuple = (1,)
print(singleTuple)
print(type(singleTuple))
singleTuple = (True,)
print(singleTuple)
print(type(singleTuple))

('John',)
<class 'tuple'>
(1,)
<class 'tuple'>
(True,)
<class 'tuple'>

#### Length of the Tuple

In [148]:
print(personTuple)
print(len(personTuple))

(13454, 'John', 23, 'Manager', 'London')
5

#### Tuple constructor

In [149]:
constructorTuple = tuple((13454, 'John', 23, 'Manager', 'London'))
print(constructorTuple)

(13454, 'John', 23, 'Manager', 'London')

In [11]:
constructorTuple2=tuple(personTuple)
print(personTuple == constructorTuple)
print(personTuple == constructorTuple2)
print(constructorTuple == constructorTuple2)

True
True
True

In [197]:
# construct from list
personConstructor = tuple([13454, 'John', 23, 'Manager', 'London'])
print(personConstructor)
print(type(personConstructor))

(13454, 'John', 23, 'Manager', 'London')
<class 'tuple'>

In [198]:
# construct from set
personConstructor = tuple({13454, 'John', 23, 'Manager', 'London'})
print(personConstructor)
print(type(personConstructor))

('London', 'Manager', 'John', 13454, 23)
<class 'tuple'>

##### Access Tuple Item using index

In [15]:
# Positive Indexing -from 0 to (length of tuple - 1) .
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[0])
print(personTuple[1])
print(personTuple[length-2])
print(personTuple[length-1])

13454
John
Manager
London

In [14]:
# Negative Indexing - from -(length of tuple) to -1.
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[-length])
print(personTuple[-length+1])
print(personTuple[-2])
print(personTuple[-1])

13454
John
Manager
London

##### Get tuple slice by range of Index

In [150]:
# the range is defined using [start:end:step] Default value is [0:(length of tuple):1]
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[0:length:1])

(13454, 'John', 23, 'Manager', 'London')

In [151]:
# Tuple slice by Negative index. Getting entire tuple by explicitly using negative index is not possible
# (13454, 'John', 23, 'Manager', 'London')

length = len(personTuple)

print(personTuple[-length:-1:1])

(13454, 'John', 23, 'Manager')

In [152]:
# Get entire tuple by using partial negative index


length = len(personTuple)

print(personTuple[-length::])

(13454, 'John', 23, 'Manager', 'London')

##### Check if an item exists in the tuple

In [158]:
# Check if the tuple has john's data
if "John" in personTuple:
  print("The tuple contains john's data") 
else:
  print("The tuple does not contain john's data")

The tuple contains john's data

In [159]:
# Check if the tuple has bob's data
if "Bob" in personTuple:
  print("The tuple contains bob's data") 
else:
  print("The tuple does not contain bob's data")

The tuple does not contain bob's data

##### A Tuple is immutable

In [164]:
personTuple[1] = "Bob"
print(personTuple)

TypeError: ignored

##### Update item value in a tuple

In [166]:
personTupleCopy = tuple(personTuple)

print(personTupleCopy)

personTupleToList = list(personTupleCopy)
print(personTupleToList)
personTupleToList[1] = "Changed"
print(personTupleToList)
personTupleCopy = tuple(personTupleToList)
print(personTupleCopy)

(13454, 'John', 23, 'Manager', 'London')
[13454, 'John', 23, 'Manager', 'London']
[13454, 'Changed', 23, 'Manager', 'London']
(13454, 'Changed', 23, 'Manager', 'London')

##### Unpack a tuple

In [167]:
print(personTuple)
(id,name,age,designation, location) = personTuple
print(id)
print(name)
print(age)
print(designation)
print(location)

(13454, 'John', 23, 'Manager', 'London')
13454
John
23
Manager
London

In [169]:
print(personTuple)
(*personalDetails,designation, location) = personTuple
print(personalDetails)
print(designation)
print(location)

(13454, 'John', 23, 'Manager', 'London')
[13454, 'John', 23]
Manager
London

##### Loop through Tuple

In [170]:
# Loop using for 

for detail in personTuple:
  print(detail)

13454
John
23
Manager
London

In [171]:
#Loop with index using range() and len()

for i in range(len(personTuple)):
  print(personTuple[i])

13454
John
23
Manager
London

In [172]:
# Using while loop

i=0
while i<len(personTuple):
  print(personTuple[i])
  i=i+1

13454
John
23
Manager
London

##### Join Tuples

In [173]:
addressTuple = ("Address line1","Address line2", 101101)
newTuple = personTuple + addressTuple
print(newTuple)

(13454, 'John', 23, 'Manager', 'London', 'Address line1', 'Address line2', 101101)

##### Multiply content of a Tuple by number of times

In [177]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

##### Count - count number of occurrence of an item in the Tuple

In [176]:
fruits = ("apple", "banana", "cherry", "banana", "cherry", "cherry")
print(fruits.count("apple"))
print(fruits.count("banana"))
print(fruits.count("cherry"))

1
2
3

##### Get index of an item in an Tuple

In [181]:
fruits = ("apple", "banana", "cherry")
print(fruits.index("apple"))
print(fruits.index("banana"))
print(fruits.index("cherry"))

0
1
2

##### Trying to get an index of an non existent item

In [182]:
fruits = ("apple", "banana", "cherry")
print(fruits.index("melon"))

ValueError: ignored

##### Typecasting to list,set

In [189]:
# Convert to list
fruits = ("apple", "banana", "cherry")
print(fruits)
convertToList = list(fruits)
print(convertToList)
print(type(convertToList))

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
<class 'list'>

In [190]:
# Convert to set
fruits = ("apple", "banana", "cherry")
print(fruits)
convertToSet = set(fruits)
print(convertToSet)
print(type(convertToSet))

('apple', 'banana', 'cherry')
{'banana', 'cherry', 'apple'}
<class 'set'>

### Sequence - Set
##### UNORDERED, NO DUPLICATES, IMMUTABLE

In [183]:
positiveIntegerSet = {1,2,3,4,5,6,7,8,9}
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Type of set

In [185]:
print(type(positiveIntegerSet))

<class 'set'>

##### Length of the Set

In [184]:
length = len(positiveIntegerSet)
print(length)

9

##### Duplicates not allowed. It is automatically de-duped.

In [191]:
primeNumberSet = {1,2,3,3,5}
print(primeNumberSet)

{1, 2, 3, 5}

##### Set constructor

In [200]:
# Construct from set

positiveIntegerSet = set({1,2,3,4,5,6,7,8,9})
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [199]:
# Construct from list

positiveIntegerSet = set([1,2,3,4,5,6,7,8,9])
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [201]:
# Construct from tuple
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Set is unordered

In [202]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
positiveIntegerSet[1]

TypeError: ignored

##### Access set item

In [203]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
for num in positiveIntegerSet:
  print(num)

1
2
3
4
5
6
7
8
9

In [220]:
# Get last item. The set is unordered so the order in which the items are popped out cannot be determined.
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
print(positiveIntegerSet)
lastItem = positiveIntegerSet.pop()

print(lastItem)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
1

##### Check if an item exits in a set

In [206]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
print([3 in positiveIntegerSet])
print([10 in positiveIntegerSet])

[True]
[False]

##### Add Item

In [208]:
positiveIntegerSet = set((1,2,3,4,5,6,7,8,9))
positiveIntegerSet.add(0)
print(positiveIntegerSet)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Add entire set

In [210]:
# add another set into existing set
positiveIntegerSet={1,2,3,4,5}
positiveIntegerSet2={4,5,6,7,8,9}
positiveIntegerSet.update(positiveIntegerSet2)
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [211]:
# add a list into existing set
positiveIntegerSet={1,2,3,4,5}
positiveIntegerList=[4,5,6,7,8,9]
positiveIntegerSet.update(positiveIntegerList)
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [212]:
# add a tuple into existing set
positiveIntegerSet={1,2,3,4,5}
positiveIntegerList=(4,5,6,7,8,9)
positiveIntegerSet.update(positiveIntegerList)
print(positiveIntegerSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Remove item from set

In [213]:
# Using remove
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.remove("banana")

print(fruitsSet)

{'cherry', 'apple'}

In [214]:
# Using remove and the item does not exist in the set
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.remove("melon")

print(fruitsSet)

KeyError: ignored

In [215]:
# Using discard
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.discard("banana")

print(fruitsSet)

{'cherry', 'apple'}

In [216]:
# Using discard and the item does not exist in the set
fruitsSet = {"apple", "banana", "cherry"}

fruitsSet.discard("melon")

print(fruitsSet)

{'banana', 'cherry', 'apple'}

##### Clear the Set

In [223]:
fruitSet = {"apple", "banana", "cherry"}
print(fruitSet)
fruitSet.clear()
print(fruitSet)

{'banana', 'cherry', 'apple'}
set()

##### delete the Set

In [224]:
delFruitSet = {"apple", "banana", "cherry"}
print(delFruitSet)

{'banana', 'cherry', 'apple'}

In [225]:
del delFruitSet

In [226]:
print(delFruitSet)

NameError: ignored

##### Loop through Set

In [227]:
fruitSet = {"apple", "banana", "cherry"}
for fruit in fruitSet:
  print(fruit)

banana
cherry
apple

##### Set operations

In [229]:
# union - the same can be achieved using update()
fruitSet = {"apple", "banana", "cherry"}
citrusSet = {"orange", "Lemon"}
unionSet = fruitSet.union(citrusSet)
print(unionSet)

{'banana', 'orange', 'Lemon', 'cherry', 'apple'}

In [231]:
# intersection without creating new Set
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet1.intersection_update(fruitSet2)
print(fruitSet1)

{'pineapple', 'orange'}

In [235]:
# intersection with creation of new Set
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet = fruitSet1.intersection(fruitSet2)
print(fruitSet)

{'pineapple', 'orange'}

In [237]:
# get union of sets minus the intersection
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet1.symmetric_difference_update(fruitSet2)
print(fruitSet1)

{'banana', 'cherry', 'melon'}

In [238]:
# get union of sets minus the intersection
fruitSet1 = {"orange","banana","cherry","pineapple"}
fruitSet2 = {"pineapple","melon","orange"}
fruitSet = fruitSet1.symmetric_difference(fruitSet2)
print(fruitSet)

{'banana', 'cherry', 'melon'}