<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/PythonPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

##### Get Version

In [2]:

print(pd.__version__)

1.1.5

### Series

In [3]:
mylist = [1, 7, 2]
myseries = pd.Series(mylist)
print(myseries)

0    1
1    7
2    2
dtype: int64

In [4]:
type(myseries)

pandas.core.series.Series

##### Default index

In [5]:
print(myseries)

0    1
1    7
2    2
dtype: int64

In [6]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

1
7
2

##### Labelled Index

In [7]:
mylist = [1, 7, 2]
myseries =  pd.Series(mylist, index = ["x", "y", "z"])
print(myseries)

x    1
y    7
z    2
dtype: int64

In [8]:
# access items in a series
print(myseries["x"])
print(myseries["y"])
print(myseries["z"])

1
7
2

In [9]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

1
7
2

##### Create series using Dict

In [10]:
# Dict showing daywise calories

mydict = {"day1": 420, "day2": 380, "day3": 390}
myseries =  pd.Series(mydict)
print(myseries)

day1    420
day2    380
day3    390
dtype: int64

In [11]:
# access items in a series
print(myseries["day1"])
print(myseries["day2"])
print(myseries["day3"])

420
380
390

In [12]:
# access items in a series
print(myseries[0])
print(myseries[1])
print(myseries[2])

420
380
390

In [13]:
# create series using only day 1 and day 2 calories data

newseries =  pd.Series(mydict,["day1","day2"])
print(newseries)

day1    420
day2    380
dtype: int64

### DataFrame

##### Create dataframe

In [14]:
# create a column(in this example we use list) called calories

calories = [420, 380, 390]
print(calories)
print(type(calories))

[420, 380, 390]
<class 'list'>

In [15]:
# create a column(in this example we use list) called duration

duration = [50, 40, 45]
print(duration)
print(type(duration))

[50, 40, 45]
<class 'list'>

In [16]:
# create data for dataframe using the columns (list) calories and duration

mydata = {"calories":calories, "duration":duration} 
print(mydata)
print(type(mydata))

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}
<class 'dict'>

In [17]:
# create dataframe
mydataframe = pd.DataFrame(mydata)
print(mydataframe)
print(type(mydataframe))

   calories  duration
0       420        50
1       380        40
2       390        45
<class 'pandas.core.frame.DataFrame'>

#### Get headers

In [18]:
mydataframe.columns

Index(['calories', 'duration'], dtype='object')

#### Get a row/rows from a dataframe

In [ ]:
# get first row from dataframe
mydataframe.loc[0]

In [ ]:
# data type of a row in a dataframe
type(mydataframe.loc[0])

In [ ]:
#get last row in a dataframe
length=len(mydataframe)
mydataframe.loc[length-1]

In [ ]:
# get multiple rows from a dataframe - Filtering

mydataframe.loc[[0,1]]

#### Get Column of a dataframe

In [20]:
mydataframe["calories"]

0    420
1    380
2    390
Name: calories, dtype: int64

In [21]:
mydataframe.calories

0    420
1    380
2    390
Name: calories, dtype: int64

#### Index of a dataframe

In [19]:
# Default Index
mydataframe

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
# Named index
namedindexdf = pd.DataFrame(mydata,["day1","day2","day3"])
print(namedindexdf)

In [ ]:
# Locate using named index
namedindexdf.loc["day1"]

In [ ]:
# filter rows
namedindexdf.loc[["day1","day2"]]

### CSV

##### Create a csv file

In [ ]:
import csv

header = ['name', 'area', 'country_code2', 'country_code3']
data = [
    ['Albania', 28748, 'AL', 'ALB'],
    ['Algeria', 2381741, 'DZ', 'DZA'],
    ['American Samoa', 199, 'AS', 'ASM'],
    ['Andorra', 468, 'AD', 'AND'],
    ['Angola', 1246700, 'AO', 'AGO'],
    ['Anguilla',102, 'AI','AIA']
]

with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)
f.close()

### Load data from a file into a dataframe

In [ ]:
# Load a csv file
df = pd.read_csv('countries.csv')

In [ ]:
# print the dataframe
print(df)

To print entire dataframe use print(df.tostring())

### JSON

In [ ]:
# create json data from existing data
datajson = {}
headerlength = len(header)
datacount = len(data)
for k in range(headerlength):
  datajson[header[k]] = {}

for i in range(datacount):
  for j in range(headerlength):   
      datajson[header[j]][i] = data[i][j]
  
print(datajson)

In [ ]:
import json
# write json data to file
with open('data.json', 'w') as outfile:
    json.dump(datajson, outfile)

In [ ]:
# Load country data into dataframe
jsondf =  pd.DataFrame(datajson)
jsondf

In [ ]:
# load json data from file
df = pd.read_json('data.json')
print(df)

### CSV from Google drive

##### Mount google drive

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##### Import csv file from google drive and create dataframe

In [ ]:
iris_df = pd.read_csv('/content/drive/MyDrive/colabs_data/Iris.csv')
iris_df

#### head()

In [ ]:
iris_df.head()

In [ ]:
iris_df.head(10)

#### tail()

In [ ]:
iris_df.tail()

In [ ]:
iris_df.tail(10)

#### Get info about the dataframe

In [ ]:
iris_df.info()

In [ ]:
iris_df.describe()

#### copy()

In [ ]:
copy_demo_df = iris_df.copy()

#### drop()

In [ ]:
copy_demo_df.drop("Id", axis=1)

In [ ]:
copy_demo_df

#### filter

##### filter by rows

In [28]:
iris_df.loc[[0,2]]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [29]:
iris_df.loc[2:5]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [35]:
twotofive_df = iris_df.loc[2:5]
eigthttoten_df = iris_df.loc[8:10]

concat_df_list = [twotofive_df, eigthttoten_df]
pd.concat(concat_df_list)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa

In [ ]:
iris_df[iris_df.Species == "Iris-setosa"]

In [ ]:
# AND
iris_df[(iris_df.Species == "Iris-setosa") & (iris_df.Id<10)]

In [ ]:
# OR
iris_df[(iris_df.Id>140) | (iris_df.Id<10)]

#### Display all items in a dataframe

In [ ]:
pd.get_option('display.max_rows')

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
print(iris_df)

In [ ]:
pd.set_option('display.max_rows', 60)
print(iris_df)

In [ ]:
pd.set_option('display.max_rows',iris_df.shape[0]+1)

In [ ]:
print(iris_df)

In [ ]:
pd.set_option('display.max_rows', 60)
print(iris_df)

### Handling missing data

In [ ]:
titanic_df = pd.read_csv('/content/drive/MyDrive/colabs_data/titanic/train.csv')
print(titanic_df)

In [ ]:
titanic_df.info()

#### fillna()

In [ ]:
# create a copy for verfication
titanic_df_fillna = titanic_df.copy()

In [ ]:
# total count
len(titanic_df)

In [ ]:
# count of missing cabin values
titanic_df["Cabin"].isnull().sum()

In [ ]:
titanic_df["Cabin"]

In [ ]:
#fillna
titanic_df_fillna["Cabin"] = titanic_df_fillna["Cabin"].fillna("U0")

In [ ]:
titanic_df["Cabin"]

In [ ]:
titanic_df_fillna["Cabin"]

In [ ]:
titanic_df["Cabin"].isnull().sum()

In [ ]:
titanic_df_fillna["Cabin"].isnull().sum()

##### Handling multiple fillna

In [ ]:
titanic_df_fillna2 = titanic_df.copy()

In [ ]:
titanic_df_fillna2.info()

In [ ]:
titanic_df_fillna2["Cabin"]

In [ ]:
titanic_df_fillna2["Age"]