<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Remove sqllite database if it already exists

In [10]:
import os
if os.path.exists("sql_training.db"):
  os.remove("sql_training.db")
else:
  print("The database does not exist")

# Create a sqllite database and create a connection

In [11]:
import sqlite3

conn = sqlite3.connect('sql_training.db')
print ("Successfully connected to the database")

Successfully connected to the database

# Load a local sql file to setup initial sample data.

 Remember to upload the file before it is used. 

However this file is removed when

In [7]:
local_sql = open('sql_training.sql',"r")
local_sql_contents = local_sql.read()
conn.executescript(local_sql_contents)
print("Successfully populated db with initial  from local file")

Successfully populated db with initial values

# Load a sql file from drive to setup initial sample data

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
drive_sql = open('drive/MyDrive/colabs_data/sql_training.sql',"r")
drive_sql_contents = drive_sql.read()
conn.executescript(drive_sql_contents)
print("Successfully populated db with initial values from google drive")

Successfully populated db with initial values from google drive

# Select queries

In [9]:
select_all_agents_query = "SELECT * FROM CUSTOMER"

rows = conn.execute(select_all_agents_query)
row = rows.fetchone()
print (row[1])

Holmes