<a href="https://colab.research.google.com/github/techakilan/python-datascience-training/blob/master/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Remove database if it already exists

In [1]:
import os
if os.path.exists("sql_training.db"):
  os.remove("sql_training.db")
else:
  print("The database does not exist")

# Create a sqllite database and create a connection

In [2]:
import sqlite3

conn = sqlite3.connect('sql_training.db')
print ("Successfully connected to the database")

Successfully connected to the database

# Load a local sql file to setup sample data.

 Remember to upload the file before it is used. 

However this file is removed when

In [3]:
local_sql = open('sql_training/sql_training.sql',"r")
local_sql_contents = local_sql.read()
conn.executescript(local_sql_contents)
print("Successfully populated db with initial values")

In [4]:
select_all_agents_query = "SELECT * FROM AGENTS"

rows = conn.execute(select_all_agents_query)
row = rows.fetchone()
print (row[1])

Ramasundar